 /* CUSTOM PROPERTY  */
:root {
    --accent-font-family: "Rubik", "Arial", sans-serif;
    --accent-color: #000;
}
        
        
/* GOOGLE FONTS  */
@font-face {
    font-family: "Rubik";
    src: url("../fonts/") format("woff2"),
        url("../fonts/Rubik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"),
        url("../fonts/Rubik-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
        url("../fonts/Rubik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
::after,
::before {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--accent-font-family);
    font-size: 16px;
    line-height: 22px;
    background-color: #fff;
    color: #4a4b4c;
}


 /* OUTLINE STYLES  */
*:focus {
    outline: 2px dotted #7296ec;
    outline-offset: 3px;
}


/* CONTAINER  */
.container {
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}


 /* BUTTON  */
.button {
    display: inline-block;
    padding: 13px 20px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    opacity: 0.8;
}
 
.button:active {
    opacity: 0.6;
}

.button-primary {
    background-color: #7296ec;
    color: #fff;
} 

.button-orange {
    background-color: #f78b3b;
    color: #fff;
}

.button-block {
    display: block;
    width: 100%;
}


 /* SITE-HEADER-TOP  */
.header-top {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.site-header-top-container {
    display: flex;
    align-items: center;
}


/* SITE-HEADER-LOGO  */
.site-header-logo {
    display: flex;
    padding: 8px 6px;
    margin-right: 35px;
    border-radius: 7px ;
    background-color: #fff;
}

.site-header-logo:hover {
    opacity: 0.8;
}

.site-header-logo:active {
    opacity: 0.6;
}

.site-header-logo-img {
    width: 264px;
    height: 28px;
}


/* CURRENCY-RATES  */
.currency-rates-list {
    display: flex;
    align-items:center;
    margin: 0;
    padding: 0;
    margin-right: auto ;
    list-style-type: none ;
}

.currency-rates-item:not(:last-child) {
    margin-right: 25px;
}

.currency-rates-type {
    color: #2959ce;
}


 /* GLOBAL-SEARCH-FORM  */
.search-form { 
    margin-right: 25px;
}

.search-input {
    padding: 15px 20px 13px 40px;
    border-radius: 60px; 
    border: 0;
    font-size: 14px;
    line-height: normal;
    background-image: url("../images/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
}


/* LANG-TOGGLE  */
.lang-toggle {
    display: flex;
    padding: 3px;
    margin-right: 25px;
    border-radius: 39px;
    background-color: #dce6ff;
}

.lang-toggle-link {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #a6a6a6;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.lang-toggle-link-active {
    background-color: #fff;
    color: var(--accent-color);
    border-radius: 50%;
}


/* SITENAV  */
.sitenav {
    border-bottom: 1px solid #d1d1d1;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal; 
}

.sitenaav:not(:last-child) {
    margin-bottom: 40px;
}

.sitenav-list {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

.sitenav-item:not(:last-child) {
    margin-right: 34px;
}

.sitenav-link {
    display: block;
    color: #7f7f7f;
    text-decoration: none;
}

.sitenav-link:hover {
    color: #7296ec;
}

.sitenav-link:active {
    opacity: 0.6;
}


/* SITE-HEADER-BANNER-IMG  */
.site-hheader-banner-link {
    display: flex;
}


 /* SITE-MAIN  */
.site-main {
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 100px;
}


 /* NEWS-GRID  */
.news-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-bottom: -10px;
}


 /* NEWS-GRID-ITEM  */
.news-grid-item {
    width: 393px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.article-card {
    display: flex;
    flex-direction: column;
    padding: 20px 17px 15px;
    border-radius: 15px;
    background-color: #f6f6f6;
}

.aticle-card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.article-card-link {
    display: inline-block;
    color: var(--accent-color);
    text-decoration: none;
}

.article-card-link:hover {
    color:#7296ec
}

.article-card-link:active {
    opacity: 0.6;
}

.article-card-text {
    margin-top: 0;
    margin-bottom: 15px;
}

.article-card-img {
    display: block;
    margin-top: auto;
    width: 360px;
    height: 165px;
    margin-bottom: 15px;
    border-radius: 10px;
    object-fit: cover;
}

.article-card-footer {
    display: flex;
    align-items: center;
}

.article-card-source-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.article-card-source-time {
    font-size: 12px;
    line-height: normal;
    color: #5e5f61;
}


 /* NATIFICATION-CTA */
.natification-cta {
    display: flex;
    align-items:center;
    justify-content: space-between ;
    padding: 25px 70px 25px 25px;
    border-radius: 10px;
    margin: 60px 75px;
    background-color: #ffd7ba;
    background-image: url("../images/global-natification-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.natification-cta-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: var(--accent-color);
}


/* NEWS-LIST  */
.global-news-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: var(--accent-color);
}

.news-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.news-list-item:not(:last-child) {
    margin-bottom: 10px;
}


 /* ARTICLE-CARD-HORIZONTAL  */
.article-card-horizontal {
    display: flex;
    align-items:flex-start;
    padding: 20px;
    border-radius: 15px;
    background-color: #f6f6f6;
}

.article-card-horizontal-img {
    width: 210px;
    height: 165px;
    margin-right: 15px;
    border-radius: 10px;
    object-fit: cover;
}

.article-card-horizontal-content {
    flex-grow: 1;
}

.article-card-horizontal-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.article-card-horizontal-link {
    display: inline-block;
    color: var(--accent-color);
    text-decoration: none;
}

.article-card-horizontal-link:hover {
    color: #7296ec;
}

.article-card-horizontal-link:active {
    opacity: 0 0.6;
}

.article-card-horizontal-text {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
}

.article-card-horizontal-footer {
    display: flex;
    align-items: center;
}

.article-card-horizontal-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 5px;
}

.article-card-horizontal-source-time {
    font-size: 12px;
    line-height: normal;
    color: #5e5f61
}

.news-list-more-button {
    padding: 17px;
}


 /* LEYOUT-SITEBAR  */
.leyout-2-1 {
    display: flex;
    align-items: flex-start;
}

.leyout-2-1-main {
    width: 797px;
    margin-right: 10px;
}

.leyout-2-1-sitebar {
    width: 393px;
    margin-top: 49px;
}

.leyout-2-1-sitebar:not(:last-child) {
    margin-bottom: 10px;
}


/* SITEBAR-NEWS-CARD  */
.sitebar-news-card {
    padding: 20px;
    border-radius: 15px;
    background-color: #f6f6f6;
    color: var(--accent-color);
}

.sitebar-news-card-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.sitebar-news-card-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitebar-news-card-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sitebar-news-card-item:first-child {
    padding-top: 0;
}

.sitebar-news-card-item:last-child {
    padding-bottom: 0;
}

.sitebar-news-card-item:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}

.sitebar-news-card-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.sitebar-news-card-link {
    display: inline-block;
    color: var(--accent-color);
    text-decoration: none;
}

.sitebar-news-card-link:hover {
    color: #7296ec;
}

.sitebar-news-card-link:active {
    opacity: 0.6;
}

.sitebar-news-card-source-time {
    font-size: 13px;
    line-height: normal;
    color: #5e5f61;
}


/* SITEBAR-AD  */
.sitebar-ad-link {
    display: flex;
}

.sitebar-ad-img {
    width: 3939px;
    height: 338px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px;
}

.sitebar-ad-img-tall {
    width: 393px;
    height: 553px;
}


/* FOOTER  */
.site-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #7297ef;
    color: #fff;
}

.site-footer *:focus {
    outline: 2px dashed #fff;
}

.site-footer-logo-wrapper {
    display: flex;
    margin-bottom: 15px;
}

.site-footer-logo {
    display: flex;
}

.site-footer-logo:hover {
    opacity: 0.8;
}

.site-footer-logo:active {
    opacity: 0.6;
}

.site-footer-logo-img {
    width: 264px;
    height: 28px;
    object-fit: contain;
}

.site-footer-about-links {
    display: flex;
}

.site-footer-about {
    width: 230px;
    margin-right: 200px;
    font-size: 12px;
    line-height: 19px;
}

.site-footer-links-wrapper {
    flex-grow: 1;
    display: flex;
}

.site-footer-list {
    width: 50%;
    margin: 0;
    padding-left: 0;
    padding-right: 24px;
    list-style: none;
    font-weight: 500;
}

.site-footer-item:not(:last-child) {
    margin-bottom: 20px;
}

.site-footer-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.site-footer-link:hover {
    text-decoration: underline;
}

.site-footer-divider {
    height: 1px;
    border-color: #cecece;
    border: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.site-footer-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer-socials-heading {
    width: 160px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.site-footer-socials-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-footer-socials-item:not(:last-child) {
    margin-right: 25px;
}

.site-footer-socials-link {
    display: flex;
}

.site-footer-socials-icon {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    object-fit: contain;
}


 /* DEFINITIONS-CARD  */
.contact-page-info {
    width: 494px;
    margin-left: 10px;
}

.definitions-card {
    padding: 20px 25px;
    border-radius: 10px;
    margin: 0;
    background-color: #f6f6f6;
    color: var(--accent-color);
}

.definitions-card-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.definitions-card-item:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}

.definition-card-title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.definition-card-value {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
}


 /* CONTACT-PAGE  */
.contact-page-heading {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.contact-page-content {
    display: flex;
}

.contact-page-form {
    display: flex;
    flex-direction: column;
    width: 696px;
}

.form-groups-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-groups-wrapper:not(:last-child) {
    margin-bottom: 0;
}

.form-groups-wrapper .form-group {
    width: calc(50% - 5px);
    margin-bottom: 0px;
}

.form-group:not(:last-child) {
    margin-bottom: 10px;
}

.form-fild {
    display: block;
    width: 100%;
    padding: 18px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-fiel-textarea {
    resize: vertical;
    min-height: 180px;
}

.contact-page-form-submit {
    align-self: flex-end;
    margin-top: 20px;
}


/* MODAL  */
.modal {
    position: fixed;
    z-index: 1000;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    text-align: center;
}

.modal-open {
    display: block;
}

.modal-dialog {
    width: 100%;
    max-width: 850px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
}

.modal-heading {
    font-family: var(--accent-font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: var(--accent-color);
}


 /* RETINA BGS  */
    
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        .natification-cta  {
            background-image: url("../images/global-natification-bg@2x.jpg");
        }
    }